
<section class="card">
    <header class="card-header">
    <h2>Leave Balance</h2>
    </header>
    
   <div class="card-body">
    <div class="form-group row">
        <div class="col-lg-2">
            <p-dropdown  [options]="yearList" [(ngModel)]= "year"  optionLabel="key" optionValue="value" 
            name="year" id="year">
           </p-dropdown>
          </div>
        <div class="col-lg-8">
          <ng-multiselect-dropdown
          class="full-width-dropdown"
          name="selectedEmployee"
          [placeholder]="'Select Employee'"
          [settings]="dropdownSettings"
          [(ngModel)]="selectedEmployee"
          [data]="employeeSerchList"></ng-multiselect-dropdown>
            <!-- <app-employee-search (onSearchEvent)="onGetEmployeeDetail($event)"></app-employee-search> -->
      </div>
      <div class="col-lg-2">
            <p-button  type="button" (click)="getData()" label="Get Data" Class="p-button-text p-button-sm p-button-success"></p-button>
      </div>
    </div>
   </div>
   <div class="card-body" *ngIf="getDataildiv">
    <app-grid-renderer
    [gridRowData]="rowData"
    [gridColData]="columnDefs"
    (onCellClickEvent)="onCellClicked($event)"
    ></app-grid-renderer>
   </div>
  </section>
