     <div class="row">
      <div class="col-lg-12">
        <form #manualPunchForm = "ngForm" name="form" (submit)="SaveManualPunchSingleData()">
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="labelfont">Punch Date <span class="text-danger">*</span></label>
                  <input pinput class="form-control" type="text" autocomplete="off" name="punchdate" [(ngModel)]="punchdate"
     id="punchdate" [bsConfig]="datepickerConfig" required="true" placeholder="DD-MM-YYYY" autocomplete="off" bsDatepicker> 
          </div>
          <div class="col-lg-2">
            <label class="labelfont">Punch Time <span class="text-danger">*</span></label><br/>
              <p-calendar [(ngModel)]="punchtime" 
              name="punchtime" id="punchtime" [required]="true"
              [timeOnly]="true" inputId="timeonly" class="form-control"></p-calendar>
              </div>
              <div class="col-lg-3">
                <label class="labelfont">InOut</label>
                <p-dropdown [options]="inOutList" [(ngModel)]="manualPunchInfo.inOut" optionLabel="key" optionValue="value"
                   #inOut="ngModel" 
                  [ngClass]="{'is-invalid': inOut.invalid && (inOut.dirty || inOut.touched)}" name="inOut" id="inOut"></p-dropdown>
            </div>
            <div class="col-lg-4">
              <label class="labelfont">Reason</label>
              <input pinput [(ngModel)]="manualPunchInfo.reason" class="form-control" type="text"
                 name="reason" id="reason"
                 #reason="ngModel"
                [ngClass]="{'is-invalid': reason.invalid && (reason.dirty || reason.touched)}">
            </div>
            </div>
            <div class="form-group row">
              
             
            </div>
            <div class="float-right">
            <p-button  type="submit"   label="Punch Post" Class="p-button-text p-button-sm p-button-success" styleClass="p-mr-btn" [disabled]="!manualPunchForm.valid"></p-button>
             <p-button icon="pi pi-times" class="p-button-sm "  label="Cancel" styleClass="p-button-secondary" (click)="CancelmanualPunch()"></p-button> 
          </div>
        </form>
      </div>
     </div>
     <br/>
   <div class="row">
    
    <div class="col-lg-12">
      <p-table [columns]="punchDetailListCol" [value]="punchDetailsList" [scrollable]="true" scrollHeight="235px">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowholiday let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                  <div *ngIf="col.fulltext; then fulltext else halftext"></div>
                  <ng-template #fulltext>
                    <div *ngIf="rowholiday.inOut == 'I'">
                      <span >In</span>
                  </div>
                  <div *ngIf="rowholiday.inOut == 'O'">
                    <span >Out</span>
                </div>
                  </ng-template>
              <ng-template #halftext>
                <div *ngIf="col.icons; then iconShow else textShow"></div>
                      <ng-template #iconShow>
                        <i *ngIf="rowholiday[col.field]" class="pi edit-icon pi-check-circle"></i>
                        <i *ngIf="!rowholiday[col.field]" class="pi trash-icon pi-times-circle"></i>
                      </ng-template>
                <ng-template #textShow>
                  <div *ngIf="col.delicons;then delshow else txtshow"></div>
                  <ng-template #delshow>
                   <a class="cursor-pointer" (click)="deleteManualPunch(rowholiday.attendancePunchID,rowholiday.punchSource)"><i *ngIf="rowholiday[col.field]" class="p-button-icon pi pi-trash text-danger"></i></a> 
                  </ng-template>
                  <ng-template #txtshow>
                    <span>{{rowholiday[col.field]}}</span>
                  </ng-template>
                </ng-template>
              </ng-template>
                </td>
            </tr>
        </ng-template>
    </p-table>
    </div>
   </div>
   <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [style]="{width: '40vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">

  </p-confirmDialog>
  <!-- page end-->
  