<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 bootCols">
       <!-- <app-employee-attendance></app-employee-attendance> -->
       <ng-template #tile1></ng-template>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 bootCols">
      <!-- <app-employee-leave></app-employee-leave> -->
      <ng-template #tile2></ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 bootCols">
      <!-- <app-employee-holiday></app-employee-holiday> -->
      <ng-template #tile3></ng-template>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 bootCols">
      <!-- <app-employee-visitor-status></app-employee-visitor-status> -->
      <ng-template #tile4></ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 bootCols">
      <!-- <app-employee-holiday></app-employee-holiday> -->
      <ng-template #tile5></ng-template>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 bootCols">
      <ng-template #tile6></ng-template>
    </div>
  </div>
</div>