


<div id="report-contents" class="clsSlidebar report-content-area d-flex align-items-start">
  <!-- <div id="slidebarmenu">
    <div style="position: static;" class="ps ps--active-y" ng-reflect-disabled="false">
      <div class="ps-content">
        <ul>
          <li *ngFor="let menu of reqMenuList">
            <a [ngClass]="{'active': (selectedMenu === menu.menuId)}">
              <div class="d-flex">
                <span class="card-title-length">{{ menu.menuName}}</span>
                <span class="m-l-5"></span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div> -->
 <div class="container col-lg-12">
  <div id="reportscontent" class="content-text w-100">
    <div class="form-group row">
      <div class="col-lg-3">
      <p-multiSelect [options]="filteredStatusList" [(ngModel)]="selectedStatus" defaultLabel="Select a status" optionLabel="key" display="chip"></p-multiSelect>
      </div>
      <div class="col-lg-3">
        <!-- <p-multiSelect [options]="MenuItemss"  defaultLabel="Select a status" optionLabel="key" display="chip"></p-multiSelect> -->
        <p-dropdown [options]="MenuItemss" [(ngModel)]="MenuItemssId" (ngModelChange)="getDetail($event)"  optionLabel="key" optionValue="value"></p-dropdown>
      </div>


      <div class="col-lg-6">
        <input pinput [(ngModel)]="fromDate" class="datetypeDateinput" type="text" autocomplete="off" name="fromDate"
          id="fromDate" [bsConfig]="datepickerConfig" placeholder="DD-MM-YYYY" autocomplete="off" bsDatepicker>
        <input pinput [(ngModel)]="toDate" class="datetypeDateinput" type="text" autocomplete="off" name="toDate"
          id="toDate" [bsConfig]="datepickerConfig" placeholder="DD-MM-YYYY" autocomplete="off" bsDatepicker>
        <button pButton type="button" id="GetData" label="Get Data" Class="p-button-text p-button-sm p-button-primary"
          (click)="getData()"></button>
          <button pButton type="button" label="Action" class="p-button-success mx-2"(click)="actionPerform()"></button>
      </div>
    </div>
    <!-- <div class="mx-2">
      <button pButton type="button" label="Action" class="p-button-success mr-2"style="float:right"(click)="actionPerform()"></button>
    </div> -->
    <app-grid-renderer [gridRowData]="rowData"
     [gridColData]="columnDefs"
     (onCheckAllClicked)="checkUnCheckEmpAllClicked($event)"
      (onCheckRowClicked)="checkUnCheckEmpRowClicked($event)"
      (onCellClickEvent)="onCellClicked($event)"></app-grid-renderer>
  </div>
</div>
</div>
<!-- Update Remark -->
<p-dialog [header]="headerdialogName" [(visible)]="remarkDisplay" [modal]="true" [draggable]="false" [resizable]="false"
  [transitionOptions]="'0ms'" (hide)="CancelRemarkData(isMultiRow)" position="top-right" [style]="{width: '50vw'}">
  <form #remarkForm="ngForm" >
    <div class="form-group row">
      <input pinput [(ngModel)]="selectRequestInfo.transactionID" class="form-control" type="text" autocomplete="off"
        name="sectionID" id="sectionID " hidden="true">
      <div class="col-lg-10">
        <label class="labelfont">Remark <span class="text-danger">*</span></label>
        <input pinput [(ngModel)]="reqRemarks" class="form-control text-uppercase" type="text"
          autocomplete="off" required name="requestRemark" id="requestRemark" maxlength="100" #requestRemark="ngModel">
      </div>
    </div>
    <div class="float-right">
      <p-button icon="pi pi-check" label="Approve" Class="p-button-text p-button-sm" styleClass="p-button-success  mr-2"type="button"
        [disabled]="!remarkForm.valid" (click)="SaveRemarkData(1,isMultiRow)"></p-button>
        <p-button icon="pi pi-check" label="Reject" Class="p-button-text p-button-sm" styleClass="p-button-danger  mr-2 " type="button"
        [disabled]="!remarkForm.valid" (click)="SaveRemarkData(2,isMultiRow)"></p-button>
      <p-button icon="pi pi-times" class="p-button-sm " #closebutton data-dismiss="modal" label="Cancel"
        (click)="CancelRemarkData(isMultiRow)" styleClass="p-button-secondary"></p-button>
    </div>
    <br /><br /><br />
  </form>
  <ng-template pTemplate="footer">

  </ng-template>
</p-dialog>

<!-- Flow popUp -->
<p-dialog [header]="flowHeaderName" [(visible)]="displayApproveflow" [modal]="true" [draggable]="false" [resizable]="false"
  [transitionOptions]="'0ms'" position="top-right" [style]="{width: '90vw'}" (onHide)="closeFlowPopup(false)">
  <div id="divmyRequestFlowDetail">
    <ul class="timeline timeline-inverse">
      <!-- <span  *ngFor="workFlow ofworkFlowList">ll</span> -->
    <li *ngFor="let workFlow of workFlowAppList">
      <div class="time-label">
        <button  *ngIf="workFlow.actionDate" pButton type="button" [label]="workFlow.actionDate" [ngClass]="{'p-button-success': workFlow.requestStatus && workFlow.requestStatus === 'Approved'}" ></button>
        <button  *ngIf="!workFlow.actionDate && workFlow.requestStatus === 'Pending'" pButton type="button" [label]="workFlow.requestStatus" [ngClass]="{'p-button-warning': workFlow.requestStatus && workFlow.requestStatus === 'Pending'}" ></button>
        <button  *ngIf="!workFlow.actionDate && workFlow.requestStatus === 'Cancel'" pButton type="button" [label]="workFlow.requestStatus" [ngClass]="{'p-button-danger': workFlow.requestStatus && workFlow.requestStatus === 'Cancel'}" ></button>
        <button  *ngIf="!workFlow.actionDate && workFlow.requestStatus !== 'Pending' && workFlow.requestStatus !== 'Cancel'" pButton type="button" [label]="workFlow.requestStatus" [ngClass]="{'p-button-secondary': workFlow.requestStatus}" ></button>
      </div>
      
      <!-- <li> -->
        <i class="fa fa-user bg-aqua"></i>
        <div class="timeline-item">
          <span class="time"><i class="fa fa-line-chart"></i> {{ workFlow.requestStatus }}</span>
          <h3 class="timeline-header">
            {{ workFlow.employeeName }} [{{ workFlow.employeeCode }}]
          </h3>
          <div class="timeline-footer">
            <span class="time"><i class="fa fa-comments"></i></span>{{ workFlow.requestRemark }}
          </div>
        </div>
      </li>

    </ul>


  </div>
</p-dialog>
<!-- info popUp -->
<p-dialog [header]="flowHeaderName" [(visible)]="displayLeaveRequest" [modal]="true" [draggable]="false" [resizable]="false"
[transitionOptions]="'0ms'" position="top-right" [style]="{width: '80vw'}" (onHide)="CancelleavePost(false)">
  <app-request-approval-flow *ngIf="displayLeaveRequest" [workflowID]="workflowID" [employeeID]="employeeID"></app-request-approval-flow>
  <app-leave-request-dailog   [employeeID]="employeeID" [PostButton]="PostButton" [disabledTxt]="disabledTxt" *ngIf="leaveRequestDiv && displayLeaveRequest" [requestID]="requestID" [requestStatus]="requestStatus" [workflowID]="workflowID" [transactionID]="transactionID" (LeaveSinglediv)="CancelleavePost($event)"></app-leave-request-dailog>
</p-dialog>
<p-dialog [header]="flowHeaderName" [(visible)]="displayGatePass" [modal]="true" [draggable]="false" [resizable]="false"
[transitionOptions]="'0ms'" position="top-right" [style]="{width: '80vw'}" (onHide)="closePopups(false)">
  <app-request-approval-flow *ngIf="displayGatePass" [workflowID]="workflowID" [employeeID]="employeeID" ></app-request-approval-flow>
  <app-gatepass-dialog  [employeeID]="employeeID" [PostButton]="PostButton" [disabledTxt]="disabledTxt" *ngIf="gatepassRequestDiv && displayGatePass" [requestID]="requestID" [requestStatus]="requestStatus" [workflowID]="workflowID" [transactionID]="transactionID" (closePopup)="closePopups($event)"></app-gatepass-dialog>

</p-dialog>
<!-- punch regularization request popup -->
<p-dialog [header]="flowHeaderName" [(visible)]="displayPunchRequest" [modal]="true" [draggable]="false" [resizable]="false"
[transitionOptions]="'0ms'" position="top-right" [style]="{width: '80vw'}" (onHide)="closePunchPopup(false)">
  <app-request-approval-flow  *ngIf="displayPunchRequest" [workflowID]="workflowID" [employeeID]="employeeID"></app-request-approval-flow>
  <app-punch-regularization  [employeeID]="employeeID" [PostButton]="PostButton" [disabledTxt]="disabledTxt" *ngIf="displayPunchRequest" [requestID]="requestID" [requestStatus]="requestStatus" [workflowID]="workflowID" [transactionID]="transactionID" (closePopup)="closePunchPopup($event)"></app-punch-regularization>
</p-dialog>
