<section class="card">
    <header>
        <div id="card-header-inner">
            <p class="alignleft">Leave Master</p>
            <p class="alignright">
                <button pButton pRipple type="button" *ngIf="rowData.length > 0" icon="pi pi-file-excel"
                    (click)="exportGridData()" class="p-button-rounded p-button-secondary"></button>
                <button pButton pRipple type="button" icon="pi pi-plus" (click)="addNew()"
                    class="p-button-rounded p-button-success"></button>
            </p>
            <div style="clear: both;"></div>

        </div>
    </header>
    <div class="card-body">
        <div>
            <app-grid-renderer [gridRowData]="rowData" [gridColData]="columnDefs"
                (onCellClickEvent)="onCellClicked($event)">
            </app-grid-renderer>
        </div>
    </div>
</section>
<p-dialog [header]="headerdialogName" (onHide)="cancelLeaveEditdiv()" [(visible)]="display" [modal]="true" [draggable]="false" [resizable]="false"
    [transitionOptions]="'0ms'" position="top-right" [style]="{width: '70vw'}">
    <form #leaveForm="ngForm" (submit)="SaveLeaveData(leaveForm)">
        <div class="card">
            <p-tabView>
                <p-tabPanel header="Leave Detail">
                    <div class="form-group row">
                        <input pinput [(ngModel)]="leaveDetails.leaveID" class="form-control" type="text"
                            autocomplete="off" name="leaveID" id="leaveID " hidden="true">
                        <div class="col-md-4">
                            <label class="labelfont">Leave Code <span class="text-danger">*</span></label>
                            <input pinput [(ngModel)]="leaveDetails.leaveCode" class="form-control text-uppercase"
                                type="text" autocomplete="off" required name="leaveCode"
                                (keypress)="keyPressAlphanumeric($event)" id="leaveCode" maxlength="5"
                                #leaveCode="ngModel"
                                [ngClass]="{'is-invalid': leaveCode.invalid && (leaveCode.dirty || leaveCode.touched)}">
                            <div *ngIf="leaveCode.invalid && (leaveCode.dirty || leaveCode.touched)" class="labelfont">

                                <div class="p-error" *ngIf="leaveCode.errors?.['required']">
                                    Leave Code is required.
                                </div>
                                <div class="p-error" *ngIf="leaveCode.errors?.['minlength']">
                                    Leave Code must be at least 5 characters long.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="labelfont">Leave Name<span class="text-danger">*</span></label>
                            <input pinput [(ngModel)]="leaveDetails.leaveName" class="form-control" maxlength="30"
                                type="text" autocomplete="off" required name="leaveName" id="leaveName"
                                #leaveName="ngModel"
                                [ngClass]="{'is-invalid': leaveName.invalid && (leaveName.dirty || leaveName.touched)}">
                            <div *ngIf="leaveName.invalid && (leaveName.dirty || leaveName.touched)" class="labelfont">

                                <div class="p-error" *ngIf="leaveName.errors?.['required']">
                                    Leave Name is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="labelfont"> Leave Type</label>
                            <p-dropdown [options]="leaveTypeOption" [(ngModel)]="leaveDetails.leaveType"
                                optionLabel="value" optionValue="key" class="" [filter]="true" filterBy="value"
                                #leaveType="ngModel"
                                [ngClass]="{'is-invalid': leaveType.invalid && (leaveType.dirty || leaveType.touched)}"
                                name="leaveType" id="leaveType">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="form-grpup row">
                        <div class="col-md-4">
                            <label class="labelfont">Leave Mapped <span class="text-danger">*</span></label>
                            <p-dropdown [options]="leaveMappedOption" [(ngModel)]="leaveDetails.leaveMapped"
                                optionLabel="value" optionValue="key" class="" [filter]="true" filterBy="value"
                                #leaveMapped="ngModel"
                                [ngClass]="{'is-invalid': leaveMapped.invalid && (leaveMapped.dirty || leaveMapped.touched)}"
                                name="leaveMapped" id="leaveMapped">
                            </p-dropdown>
                        </div>
                        <div class="col-md-4">
                            <label class="labelfont">Leave Cycle<span class="text-danger">*</span></label>
                            <p-dropdown [options]="leaveCycleOption" [(ngModel)]="leaveDetails.leaveCycle"
                                optionLabel="value" optionValue="key" class="" [filter]="true" filterBy="value"
                                #leaveCycle="ngModel"
                                [ngClass]="{'is-invalid': leaveCycle.invalid && (leaveCycle.dirty || leaveCycle.touched)}"
                                name="leaveCycle" id="leaveCycle">
                            </p-dropdown>
                        </div>
                        <div class="col-md-4">
                            <label class="labelfont"> Gender Allowed</label>
                            <p-dropdown [options]="genderOption" [(ngModel)]="leaveDetails.genderAllowed"
                                optionLabel="value" optionValue="key" class="" [filter]="true" filterBy="value"
                                #genderAllowed="ngModel"
                                [ngClass]="{'is-invalid': genderAllowed.invalid && (leaveType.dirty || genderAllowed.touched)}"
                                name="genderAllowed" id="genderAllowed">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="form-grpup row">
                        <div class="col-md-4">
                            <label class="labelfont">Carry Forward<span class="text-danger">*</span></label>
                            <p-selectButton [options]="stateOptions" [(ngModel)]="leaveDetails.carryForward"
                                optionLabel="label" optionValue="value" name="carryForward"></p-selectButton>
                        </div>
                        
                        <div class="col-md-4">
                            <label class="labelfont"> Encashable</label>
                            <p-selectButton [options]="stateOptions" [(ngModel)]="leaveDetails.encashable"
                                optionLabel="label" optionValue="value" name="encashable"></p-selectButton>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont lableMargin"> Accrual </label>
                            <p-selectButton [options]="stateOptions" [(ngModel)]="leaveDetails.accrual"
                                optionLabel="label" optionValue="value" name="accrual"></p-selectButton>
                        </div>
                    </div>
                    <div class="form-grpup row">
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont lableMargin"> Carry Forward Limit Count </label>
                            <p-inputNumber [(ngModel)]="leaveDetails.carryForwardLimit"
                                name="carryForwardLimit" [minFractionDigits]="2"
                                [showButtons]="true" placeholder="00.00" 
                                mode="decimal" [min]="0" [max]="50"></p-inputNumber>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont lableMargin"> Balance After Encashable </label>
                            <p-inputNumber [(ngModel)]="leaveDetails.balanceAfterEncashable"
                                name="balanceAfterEncashable" [minFractionDigits]="2"
                                [showButtons]="true" placeholder="00.00" mode="decimal" [min]="0" [max]="50"></p-inputNumber>
                        </div> 
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont lableMargin"> Visible To Employee</label>
                            <p-selectButton [options]="stateOptions" [(ngModel)]="leaveDetails.visibleToEmployee"
                                optionLabel="label" optionValue="value" name="visibleToEmployee"></p-selectButton>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Leave Limit">
                    <div class="form-grpup row">
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Applicable on Present</label>
                            <p-selectButton [options]="stateOptions" [(ngModel)]="leaveDetails.presentInclude"
                                optionLabel="label" optionValue="value" name="presentInclude"></p-selectButton>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Half Day Leave Allow</label>
                            <p-selectButton [options]="stateOptions" [(ngModel)]="leaveDetails.halfDayAllowed"
                                optionLabel="label" optionValue="value" name="halfDayAllowed"></p-selectButton>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Max Monthly Request Count</label>
                            <p-inputNumber [(ngModel)]="leaveDetails.maxMonthlyRequestCount"
                                name="maxMonthlyRequestCount" 
                                
                                spinnerMode="horizontal" [showButtons]="true"
                                placeholder="Number" [min]="0" [max]="50"></p-inputNumber>
                        </div>
                    </div>
                    <div class="form-grpup row">
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Max Monthly Leave Value</label>
                            <p-inputNumber [(ngModel)]="leaveDetails.maxMonthlyLeaveCount" name="maxMonthlyRequestCount"
                                [minFractionDigits]="2" 
                                [showButtons]="true" placeholder="00.00" mode="decimal" [min]="0" [max]="50">
                            </p-inputNumber>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Max Quarterly Request Count</label>
                            <p-inputNumber [(ngModel)]="leaveDetails.maxQuarterlyRequestCount"
                                name="maxMonthlyLeaveCount"
                                spinnerMode="horizontal" [showButtons]="true"
                                placeholder="Number"  [min]="0" [max]="50"></p-inputNumber>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Max Quarterly Leave Value</label>
                            <p-inputNumber [(ngModel)]="leaveDetails.maxQuarterlyLeaveCount"
                                name="maxQuarterlyRequestCount" [minFractionDigits]="2"
                                spinnerMode="horizontal" [showButtons]="true"
                                placeholder="00.00" mode="decimal" [min]="0" [max]="50"></p-inputNumber>
                        </div>

                    </div>
                    <div class="form-grpup row">
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Max HalfYearly Request Count</label>
                            <p-inputNumber [(ngModel)]="leaveDetails.maxHalfYearlyRequestCount"
                                name="maxQuarterlyRequestCount" 
                                [showButtons]="true" placeholder="Number"  [min]="0" [max]="50"></p-inputNumber>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Max HalfYearly Leave Value
                            </label>
                            <p-inputNumber [(ngModel)]="leaveDetails.maxHalfYearlyLeaveCount"
                                name="maxQuarterlyRequestCount" [minFractionDigits]="2"
                                
                                spinnerMode="horizontal" [showButtons]="true"
                                placeholder="00.00" mode="decimal" [min]="0" [max]="50"></p-inputNumber>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Max Yearly Request Count</label>
                            <p-inputNumber [(ngModel)]="leaveDetails.maxYearlyRequestCount" name="maxYearlyRequestCount"
                                
                                [showButtons]="true" placeholder="Number"  [min]="0" [max]="50">
                            </p-inputNumber>
                        </div>
                    </div>
                    <div class="form-grpup row">
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Max Yearly Leave Value</label>
                            <p-inputNumber [(ngModel)]="leaveDetails.maxYearlyLeaveCount" name="maxYearlyLeaveCount"
                                
                                [showButtons]="true" placeholder="00.00" mode="decimal" [min]="0" [max]="50">
                            </p-inputNumber>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Min Leave Per Request
                            </label>
                            <p-inputNumber [(ngModel)]="leaveDetails.minLeavePerRequest" name="minLeavePerRequest"
                                
                                [showButtons]="true" placeholder="Number" [min]="0" [max]="50">
                            </p-inputNumber>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Max Leave Per Request
                            </label>
                            <p-inputNumber [(ngModel)]="leaveDetails.maxLeavePerRequest" name="maxLeavePerRequest"
                                
                                [showButtons]="true" placeholder="Number"  [min]="0" [max]="50">
                            </p-inputNumber>
                        </div>
                    </div>
                    <div class="form-grpup row">
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Negative Allowed</label>
                            <p-selectButton [options]="stateOptions" [(ngModel)]="leaveDetails.negativeAllowed"
                                optionLabel="label" optionValue="value" name="negativeAllowed"></p-selectButton>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Negative Leave Limit</label>
                            <p-inputNumber [(ngModel)]="leaveDetails.negativeLeaveLimit" name="negativeLeaveLimit"
                                [minFractionDigits]="2" 
                                [showButtons]="true" placeholder="00.00" mode="decimal" [min]="0" [max]="50">
                            </p-inputNumber>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Applicable On">

                    <div class="form-grpup row">
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Weekly Off Include</label>
                            <p-selectButton [options]="stateOptions" [(ngModel)]="leaveDetails.woInclude"
                                optionLabel="label" optionValue="value" name="woInclude"></p-selectButton>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Holiday Include</label>
                            <p-selectButton [options]="stateOptions" [(ngModel)]="leaveDetails.hoInclude"
                                optionLabel="label" optionValue="value" name="hoInclude"></p-selectButton>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> National Holiday Include</label>
                            <p-selectButton [options]="stateOptions" [(ngModel)]="leaveDetails.nhoInclude"
                                optionLabel="label" optionValue="value" name="nhoInclude"></p-selectButton>
                        </div>
                    </div>
                    <div class="form-grpup row">
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Days For Weekly Off Include</label>
                            <p-inputNumber [(ngModel)]="leaveDetails.daysForWOInclude" name="daysForWOInclude"
                                [minFractionDigits]="2" 
                                [showButtons]="true" placeholder="0" [min]="0" [max]="50">
                            </p-inputNumber>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Days For Holiday Include</label>
                            <p-inputNumber [(ngModel)]="leaveDetails.daysForHOInclude" name="daysForHOInclude"
                                [minFractionDigits]="2" 
                                [showButtons]="true" placeholder="0"  [min]="0" [max]="50">
                            </p-inputNumber>
                        </div>
                       
                    </div>
                    <div class="form-grpup row">
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Document Required</label>
                            <p-selectButton [options]="stateOptions" [(ngModel)]="leaveDetails.docRequired"
                                optionLabel="label" optionValue="value" name="docRequired"></p-selectButton>
                        </div>
                        
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont">Leave Request In Advance</label>
                            <p-selectButton [options]="stateOptions" [(ngModel)]="leaveDetails.leaveRequestInAdvance"
                                optionLabel="label" optionValue="value" name="leaveRequestInAdvance"></p-selectButton>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont">Back Dated Leave Allow</label>
                            <p-selectButton [options]="stateOptions" [(ngModel)]="leaveDetails.backDatedLeaveAllowRM"
                                optionLabel="label" optionValue="value" name="backDatedLeaveAllowRM"></p-selectButton>
                        </div>

                    </div>
                    <div class="form-grpup row">
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont">Doc Required When Leave More Than</label>
                            <p-inputNumber [(ngModel)]="leaveDetails.docRequiredWhenLeaveMoreThan"
                                name="docRequiredWhenLeaveMoreThan" [minFractionDigits]="2"
                                
                                spinnerMode="horizontal" [showButtons]="true"
                                placeholder="00" [min]="0" [max]="50"></p-inputNumber>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Leave Request Before Days</label>
                            <p-inputNumber [(ngModel)]="leaveDetails.leaveRequestBeforeDays"
                                name="leaveRequestBeforeDays" [minFractionDigits]="2"
                                
                                spinnerMode="horizontal" [showButtons]="true"
                                placeholder="00"[min]="0" [max]="50"></p-inputNumber>
                        </div>
                        
                        <div class="col-md-3" style="float: left !important;">
                            <label class="labelfont">Back Days</label>
                            <p-inputNumber [(ngModel)]="leaveDetails.backDays" name="backDays" [minFractionDigits]="2"
                                
                                spinnerMode="horizontal" [showButtons]="true"
                                placeholder="00"  [min]="0" [max]="50"></p-inputNumber>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Leave Accrual" *ngIf="leaveDetails.accrual">
                    <div class="form-grpup row">
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Fixed</label>
                            <p-selectButton [options]="stateOptions" [(ngModel)]="leaveDetails.fixed"
                                optionLabel="label" optionValue="value" name="fixed"></p-selectButton>
                        </div>
                        
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Accrual Type</label>
                            <p-dropdown [options]="accrualTypeOption" [(ngModel)]="leaveDetails.accrualType"
                                optionLabel="value" optionValue="key" class="" [filter]="true" filterBy="value"
                                #accrualType="ngModel"
                                [ngClass]="{'is-invalid': accrualType.invalid && (accrualType.dirty || accrualType.touched)}"
                                name="accrualType" id="accrualType">
                            </p-dropdown>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont">Include Joining Month If DOJ before Date</label>
                            <p-inputNumber [(ngModel)]="leaveDetails.balanceAfterEncashable"
                                name="balanceAfterEncashable"
                                [showButtons]="true" placeholder="Number" [min]="0" [max]="50"></p-inputNumber>
                        </div>
                    </div>
                    <div class="form-grpup row">
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Accrual On Joining</label>
                            <p-selectButton [options]="stateOptions" [(ngModel)]="leaveDetails.accrualOnJoining"
                            optionLabel="label" optionValue="value" name="accrualOnJoining"></p-selectButton>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Leave Accrued</label>
                            <p-inputNumber [(ngModel)]="leaveDetails.leaveAccrued"
                            name="leaveAccrued" [minFractionDigits]="2"
                            [showButtons]="true" placeholder="Decimal" mode="decimal" [min]="0" [max]="50"></p-inputNumber>
                            
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont">Days On Accrual</label>
                            <p-inputNumber [(ngModel)]="leaveDetails.daysOnAccrual"
                                name="daysOnAccrual" 
                                [showButtons]="true" placeholder="Number"  [min]="0" [max]="50"></p-inputNumber>
                        </div>

                    </div>
                    <div class="form-grpup row">
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont">Accrual On Each Accrual Days</label>
                            <p-selectButton [options]="stateOptions" [(ngModel)]="leaveDetails.accrualOnEachAccrualDays"
                            optionLabel="label" optionValue="value" name="leaveNotClub"></p-selectButton>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont">Accrual On Joining Rule</label>
                            <p-dropdown [options]="accrualOnJoiningRuleOption" [(ngModel)]="leaveDetails.accrualOnJoiningRule"
                                optionLabel="value" optionValue="key" class=""  [disabled]="true" [filter]="true" filterBy="value"
                                #genderAllowed="ngModel"
                                [ngClass]="{'is-invalid': genderAllowed.invalid && (leaveType.dirty || genderAllowed.touched)}"
                                name="genderAllowed" id="genderAllowed">
                            </p-dropdown>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont">Accrual Days Include   dffd </label>
                            <p-multiSelect [options]="accrualIncludeDaysOption" 
                            #accrualDaysInclude="ngModel" 
                            placeholder="Please Select"
                            [(ngModel)]="leaveDetails.accrualDaysInclude" 
                            optionLabel="value" optionValue="key"></p-multiSelect>

                        </div>
                    </div>
                    <div class="form-grpup row">
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont">Accrual Day From Previous</label>
                            <p-selectButton [options]="stateOptions" [(ngModel)]="leaveDetails.accrualDayFromPrevious"
                            optionLabel="label" optionValue="value" name="accrualDayFromPrevious"></p-selectButton>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont">Max Accrual Limit</label>
                            <p-inputNumber [(ngModel)]="leaveDetails.maxAccrualLimit"
                            name="maxAccrualLimit" [minFractionDigits]="2"
                            [showButtons]="true" placeholder="Decimal" mode="decimal" [min]="0" [max]="50"></p-inputNumber>
                            
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont">Accrual On</label>
                            <p-dropdown [options]="accrualOnOption" [(ngModel)]="leaveDetails.accrualOn"
                                optionLabel="value" optionValue="key" class="" [filter]="true" filterBy="value"
                                #accrualOn="ngModel"
                                [ngClass]="{'is-invalid': accrualOn.invalid && (accrualOn.dirty || accrualOn.touched)}"
                                name="accrualOn" id="accrualOn">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="form-grpup row">
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont">Round Leave</label>
                            <p-dropdown [options]="roundLeaveOption" [(ngModel)]="leaveDetails.roundLeave"
                                optionLabel="value" optionValue="key" class="" [filter]="true" filterBy="value"
                                #roundLeave="ngModel"
                                [ngClass]="{'is-invalid': roundLeave.invalid && (roundLeave.dirty || roundLeave.touched)}"
                                name="roundLeave" id="roundLeave">
                            </p-dropdown>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont">Accrual On Date</label>
                            <p-dropdown [options]="accrualOnDateOption" [(ngModel)]="leaveDetails.accrualOnDate"
                                optionLabel="value" optionValue="key" class="" [filter]="true" filterBy="value"
                                #accrualOnDate="ngModel"
                                [ngClass]="{'is-invalid': accrualOnDate.invalid && (accrualOnDate.dirty || accrualOnDate.touched)}"
                                name="accrualOnDate" id="accrualOnDate">
                            </p-dropdown>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Extra Setup">
                    <div class="form-grpup row">
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Leave Not Club</label>
                            <p-selectButton [options]="stateOptions" [(ngModel)]="leaveDetails.leaveNotClub"
                                optionLabel="label" optionValue="value" name="leaveNotClub"></p-selectButton>
                        </div>
                        
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Leave Not Club(Only HalfDay)</label>
                            <p-selectButton [options]="stateOptions" [(ngModel)]="leaveDetails.leaveNotClubHalfDay"
                                optionLabel="label" optionValue="value" name="leaveNotClubHalfDay"></p-selectButton>
                        </div>
                    </div>
                    <div class="form-grpup row">
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Leave Not Club List</label>
                            <input pinput [(ngModel)]="leaveDetails.leaveNotClubList" class="form-control" name="leaveNotClubList"
                                #leaveNotClubList="ngModel" id="leaveNotClubList" />
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Leave Not Club List(Only HalfDay)</label>
                            <input pinput class="form-control" [(ngModel)]="leaveDetails.leaveNotClubListHalfDay"
                                name="leaveNotClubListHalfDay" #leaveNotClubListHalfDay="ngModel"
                                id="leaveNotClubListHalfDay">
                        </div>
                    </div>
                    <div class="form-grpup row">
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Applicable On Employee Status</label>
                            <p-selectButton [options]="stateOptions"
                                [(ngModel)]="leaveDetails.applicableOnEmployeeStatus" optionLabel="label"
                                optionValue="value" name="applicableOnEmployeeStatus"></p-selectButton>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont">Employee Status Allowed</label>
                            <input pinput class="form-control" [(ngModel)]="leaveDetails.employeeStatusAllowed"
                                name="employeeStatusAllowed" id="employeeStatusAllowed" />
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont">Applicable On Employee Type</label>
                            <p-selectButton [options]="stateOptions" [(ngModel)]="leaveDetails.leaveRequestInAdvance"
                                optionLabel="label" optionValue="value" name="leaveRequestInAdvance"></p-selectButton>
                        </div>
                    </div>
                    <div class="form-grpup row">
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont"> Employee Type Allowed</label>
                            <input class="form-control" [(ngModel)]="leaveDetails.employeeTypeAllowed" name="employeeTypeAllowed"
                                autocomplete="off" class="form-control" />
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont">Minimum Work Hours For Leave</label>
                            <input [(ngModel)]="leaveDetails.minmumWorkForLeave" name="minmumWorkForLeave"
                                autocomplete="off" class="form-control" [popover]="minmumWorkForLeave"
                                [outsideClick]="true" placement="bottom" placeholder="HH:MM" />
                            <ng-template #minmumWorkForLeave>
                                <timepicker [(ngModel)]="leaveDetails.minmumWorkForLeave" name="minmumWorkForLeave"
                                    [showMeridian]="false"
                                    (ngModelChange)="updateStateLocaly($event,UICONSTANT.LEAVE_MASTER_FIELD.Minimum_Work_Hours)">
                                </timepicker>
                            </ng-template>
                        </div>
                        <div class="col-md-4" style="float: left !important;">
                            <label class="labelfont">Max Time Duration for Leave</label>
                            <input [(ngModel)]="leaveDetails.maxTimeDuration" name="maxTimeDuration" autocomplete="off"
                                class="form-control" [popover]="maxTimeDuration" [outsideClick]="true"
                                placement="bottom" placeholder="HH:MM" />
                            <ng-template #maxTimeDuration>
                                <timepicker [(ngModel)]="leaveDetails.maxTimeDuration" name="maxTimeDuration"
                                    [showMeridian]="false"
                                    (ngModelChange)="updateStateLocaly($event,UICONSTANT.LEAVE_MASTER_FIELD.Max_Time_Duration)">
                                </timepicker>
                            </ng-template>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
            <div class="footer">
                <div class="btnFooter">
                    <p-button icon="pi pi-times" class="p-button-sm mr1" #closebutton data-dismiss="modal" label="Cancel"
                    styleClass="p-button-secondary" (click)="cancelLeaveEditdiv()"></p-button>
                <p-button icon="pi pi-check" [label]="labelName" Class="p-button-sm p-button-success"
                    type="submit" [disabled]="!leaveForm.valid"></p-button>
                </div>
              </div>
        </div>
        <ng-template pTemplate="footer">
            Note:- If You Change the shift you must update Roster
        </ng-template>
    </form>
</p-dialog>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [style]="{width: '40vw'}" [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text">
</p-confirmDialog>