.labelfont{
  font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 400;
    font-size: .85rem;
}
input:focus, textarea:focus, select:focus{border-top:none;border-left:none;border-right:none;}
:host ::ng-deep .p-button {
  margin: 0 .5rem 0 0;
}

p {
  margin: 0;
}

.confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
  min-width: 6rem;
}
:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  color: black;
  padding: 0.7rem;
  font-weight: 600;
  margin: 0 0 -2px 0;
  //background-color: #19B698 !important;
  width: auto !important;
  text-decoration: none;
  border:none;
}
:host ::ng-deep .p-tabview .p-tabview-panels {
width:100%;
}
:host ::ng-deep .p-tabview li{
margin-right: 5px;
}
:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight > a[aria-selected=true]{
 // background: #353538 !important;
  color: black;
  width: auto !important;
  box-shadow: none !important;
  border-top:2px solid #19b698;
  border-left:2px solid #19b698;
  border-right:2px solid #19b698;
}
:host ::ng-deep .p-element{
  margin-bottom: 0px !important;
}

:host ::ng-deep .p-fileupload-buttonbar{
  padding:0.5rem !important;
}
:host ::ng-deep .p-fileupload-content{
  padding:0rem !important;
}
:host ::ng-deep  .p-fileupload-filename{
  padding:0.5rem !important;
}
:host ::ng-deep  .p-fileupload-row > div{
  flex:none !important;
}

.float-right{
  margin-top: 20px !important;
}

