.text-green-500{
    color: darkgreen;
  
}
.text-red-500{
   color: red;
}


.p-datatable-scrollable .p-datatable-thead>tr>th {
   width: 150px;
   display: flex;
   flex: 1 1 0;
   align-items: center;
   font-size: 15px !important;
 }