.sticky-footer{
    color: #fff;
    background-color: aqua !important;
    background: linear-gradient(145deg, #4772d9, #5be0e0);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.copyright{
    font-size: 15px !important;
}