<div class="content">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                 <img src="assets/img/login-bg.svg" alt="Image" class="img-fluid" data-pagespeed-url-hash="3023428066" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3><strong>Star CLMS</strong></h3>
                            <!-- <p class="mb-4">Star Link Communication Private Limited is one of the leading Indian manufacturers of Biometric Attendance and Access Control Systems. </p> -->
                        </div>
                        <h3>Forgot Password</h3>
                            <div class="form-group  first">
                                <label for="userName">User Name*</label>
                                <input  id="userName" [disabled]="userValidated" pInputText type="text"  class="form-control" [(ngModel)]="userName"/>
                            </div> 
                            <div *ngIf="userValidated" class="form-group  first">
                                <label for="otp">OTP*</label>
                                <input  id="otp" pInputText type="text" maxlength="6"  class="form-control" [(ngModel)]="otp"/>
                                <label for="password">Password*</label>
                                <input  id="password" pInputText type="password"  class="form-control" [(ngModel)]="password"/>
                                <label for="cpassword">Confirm Password*</label>
                                <input  id="cpassword" pInputText type="password"  class="form-control" [(ngModel)]="cpassword"/>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="ml-auto"><a href="#" (click)="navigationLogin()"  class="forgot-pass">Login</a></span>
                            </div>
                            <input [hidden]="userValidated" [disabled]="userName==''" type="button" value="Generate OTP" (click)="validateUsername()" class="btn text-white btn-block btn-primary">
                            <input [hidden]="!userValidated" [disabled]="otp=='' || password=='' || password != cpassword" type="button" value="Submit" (click)="UpdatePassword()" class="btn text-white btn-block btn-primary">        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [style]="{width: '40vw'}"  rejectButtonStyleClass="p-button-text">
  
    </p-confirmDialog>