<div id="wrapper">
  <!-- Sidebar -->
 
  <!-- Sidebar -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- <ul class="navbar-nav sidebar sidebar-light accordion " id="accordionSidebar"> -->
      
      <!-- </ul> -->
    <div id="content">
      <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
        <a  href="#" class="sidebar-brand d-flex align-items-center justify-content-center" >
          <h2  style="color: #19B698; margin-left: -9px; margin-top: 11px; font-weight: 900;">
           <!-- <img  src="/assets/img/logo.png" style="width: 140px;"> -->
           <img  src="/assets/img/logo-b.png" style="width: 140px;">
          </h2>
       </a>
      </nav>
      <section class="card">
        <header class="card-header">
            <h2>Self Visitor Request</h2>
        </header>
      </section>
        <div class="card-body">
          <form #visitorform="ngForm" (submit)="visitorform.valid && SaveselfVisitorData()">
            <div class="form-group row" *ngIf="addVisitorRequest">
              <div class="col-lg-8">
                 <app-search-visitor (onSearchEvent)="onGetDetail($event)"></app-search-visitor> 
              </div>
              <div class="col-lg-1 mm-top" style="text-align: center;">
                <label class="labelInput">OR</label>
              </div>
              <div class="col-lg-3 mm-top divload-list">
                <p-button pRipple class="plusbtn" icon="pi pi-plus" (click)="addNewVisitor()"
                  class="p-button-rounded p-button-success"></p-button>
              </div>
            </div>
            <div class="form-group row" *ngIf="!addVisitorRequest">
              <div class="col-lg-12">
              
              <div class="form-group row">
                <div class="col-lg-3">
                  <label class="labelfont">Visitor Name <span class="text-danger">*</span></label>
                  <input pinput [(ngModel)]="selfvisitorInfo.visitorName" class="form-control" maxlength="50" type="text"
                    autocomplete="off" required name="visitorName" id="visitorName" #visitorName="ngModel"
                    [ngClass]="{'is-invalid': visitorName.invalid && (visitorName.dirty || visitorName.touched)}">
                  <div *ngIf="visitorform.submitted && ( visitorName.invalid || visitorName.dirty || visitorName.touched)" class="labelfont">
                    <div class="p-error" *ngIf="visitorName.errors?.['required']">
                      Visitor Name is required.
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <label class="labelfont">Gender <span class="text-danger">*</span></label>
                  <p-dropdown [options]="genderList" [(ngModel)]="selfvisitorInfo.genderID" optionLabel="key"
                    optionValue="value" class="" #genderID="ngModel"
                    [ngClass]="{'is-invalid': genderID.invalid && (genderID.dirty || genderID.touched)}" name="genderID"
                    id="genderID" [required]="true">
                  </p-dropdown>
                  <div *ngIf="visitorform.submitted && ( genderID.invalid || genderID.dirty || genderID.touched)" class="labelfont">
                    <div class="p-error" *ngIf="genderID.errors?.['required']">
                      Gender is required.
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-3">
                  <label class="labelfont">Designation</label>
                  <input pinput [(ngModel)]="selfvisitorInfo.designationName" class="form-control" type="text"
                    autocomplete="off" name="designationName" id="designationName" #designationName="ngModel"
                    [ngClass]="{'is-invalid': designationName.invalid && (designationName.dirty || designationName.touched)}">
                </div>
        
                <div class="col-lg-3">
                  <label class="labelfont">Contact Number <span class="text-danger">*</span></label>
                  <input pinput [(ngModel)]="selfvisitorInfo.contactNumber" class="form-control" type="text" autocomplete="off"
                    name="contactNumber" required="true" id="contactNumber" #contactNumber="ngModel"
                    (keypress)="keyPressNumeric($event)" maxlength="10"
                    [ngClass]="{'is-invalid': contactNumber.invalid && (contactNumber.dirty || contactNumber.touched)}">
                  <div *ngIf="visitorform.submitted && ( contactNumber.invalid || contactNumber.dirty || contactNumber.touched)" class="labelfont">
                    <div class="p-error" *ngIf="contactNumber.errors?.['required']">
                      Contact Number is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-3" *ngIf="hideOnvisitorType">
                  <label class="labelfont">Company Name </label>
                  <input pinput [(ngModel)]="selfvisitorInfo.companyName" class="form-control" type="text" autocomplete="off"
                    name="companyName"  id="companyName" #companyName="ngModel"
                    [ngClass]="{'is-invalid': companyName.invalid && (companyName.dirty || companyName.touched)}">
                  
                </div>
                <div class="col-lg-3">
                  <label class="labelfont"> Address </label>
                  <input pinput [(ngModel)]="selfvisitorInfo.companyAddress" class="form-control" type="text"
                    autocomplete="off" name="companyAddress" id="companyAddress" #companyAddress="ngModel"
                    [ngClass]="{'is-invalid': companyAddress.invalid && (companyAddress.dirty || companyAddress.touched)}">
                </div>
                <div class="col-lg-6">
                  <label class="labelfont">Expected In Date/ Time <span class="text-danger">*</span></label>
                  <br />
                  <div class="col-md-6" style="float: left !important;">
                    <input pinput [(ngModel)]="expInDate" class="form-control" type="text" autocomplete="off" name="fromDate"
                      id="expInDate" (ngModelChange)="getExpInTime($event)" [bsConfig]="datepickerConfig"
                      placeholder="DD-MM-YYYY" autocomplete="off" bsDatepicker style="margin-left: -11px;">
        
                  </div>
                  
                  <div class="col-md-6" style="float: left !important;">
                    <input [(ngModel)]="expIntime" name="expIntime" autocomplete="off" class="form-control"
                      [popover]="popexpInTemplate" [outsideClick]="true" placement="bottom" placeholder="HH:MM" />
                    <ng-template #popexpInTemplate>
                      <timepicker [(ngModel)]="expIntime" name="expIntime" [showMeridian]="false"
                        (ngModelChange)="getExpInTime($event)"></timepicker>
                    </ng-template>
                  </div>
                  <input pinput [(ngModel)]="selfvisitorInfo.expectedIn" class="form-control" type="text" autocomplete="off"
                    name="expectedIn" hidden="true" id="expectedIn" #expectedIn="ngModel"
                    [ngClass]="{'is-invalid': expectedIn.invalid && (expectedIn.dirty || expectedIn.touched)}">
                  <div *ngIf="expectedIn.invalid && (expectedIn.dirty || expectedIn.touched)" class="labelfont">
                    <div class="p-error" *ngIf="expectedIn.errors?.['required']">
                      Expected In is required.
                    </div>
                  </div>
                </div>
        
              </div>
              <div class="form-group row">
                <div class="col-lg-3">
                  <label class="labelfont">Visitor Type <span class="text-danger">*</span></label>
                  <p-dropdown [options]="visitTypeList" [required]="true" [(ngModel)]="selfvisitorInfo.visitorTypeID"
                    optionLabel="visitorTypeName" optionValue="visitorTypeID" class="" #visitorTypeID="ngModel"
                    [ngClass]="{'is-invalid': visitorTypeID.invalid && (visitorTypeID.dirty || visitorTypeID.touched)}"
                    name="visitorTypeID" id="visitorTypeID" (ngModelChange)="fngetvisitorType($event)">
                  </p-dropdown>
                  <div *ngIf="visitorform.submitted && ( visitorTypeID.invalid || visitorTypeID.dirty || visitorTypeID.touched)" class="labelfont">
                    <div class="p-error" *ngIf="visitorTypeID.errors?.['required']">
                      Visitor Type is required.
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <label class="labelfont">Visit Purpose<span class="text-danger">*</span></label>
                  <p-dropdown [options]="visitpurposeList" [required]="true" [(ngModel)]="selfvisitorInfo.visitPurposeID"
                    optionLabel="visitPurposeName" optionValue="visitPurposeID" class="" #visitPurposeID="ngModel"
                    [ngClass]="{'is-invalid': visitPurposeID.invalid && (visitPurposeID.dirty || visitPurposeID.touched)}"
                    name="visitPurposeID" id="visitPurposeID">
                  </p-dropdown>
                  <div *ngIf="visitorform.submitted && ( visitPurposeID.invalid || visitPurposeID.dirty || visitPurposeID.touched)" class="labelfont">
                    <div class="p-error" *ngIf="visitPurposeID.errors?.['required']">
                      Visit Purpose is required.
                    </div>
                  </div>
                </div>
                <!-- <div class="col-lg-3">
                  <label class="labelfont">In Gate<span class="text-danger">*</span></label>
                  <p-dropdown [options]="gateList" [required]="true" [(ngModel)]="selfvisitorInfo.inGateID"
                    optionLabel="gateName" optionValue="gateID" class="" #inGateID="ngModel"
                    [ngClass]="{'is-invalid': inGateID.invalid && (inGateID.dirty || inGateID.touched)}" name="inGateID"
                    id="inGateID">
                  </p-dropdown>
                  <div *ngIf="inGateID.invalid && (inGateID.dirty || inGateID.touched)" class="labelfont">
                    <div class="p-error" *ngIf="inGateID.errors?.['required']">
                      In Gate is required.
                    </div>
                  </div>
                </div> -->
        
                <div class="col-lg-3">
                  <label class="labelfont">Visitor Priority<span class="text-danger">*</span></label>
                  <p-dropdown [options]="visitorpriorityList" [required]="true" [(ngModel)]="selfvisitorInfo.visitorPriorityID"
                    optionLabel="key" optionValue="value" class="" #visitorPriorityID="ngModel"
                    [ngClass]="{'is-invalid': visitorPriorityID.invalid && (visitorPriorityID.dirty || visitorPriorityID.touched)}"
                    name="visitorPriorityID" id="visitorPriorityID">
                  </p-dropdown>
                  <div *ngIf="visitorform.submitted && ( visitorPriorityID.invalid || visitorPriorityID.dirty || visitorPriorityID.touched)"
                    class="labelfont">
                    <div class="p-error" *ngIf="visitorPriorityID.errors?.['required']">
                      Visitor Priority is required.
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="form-group row">
                <div class="col-lg-3">
                  <label class="labelfont">Status</label>
                    <p-dropdown [options]="visitorstatusList" [required]="true" [(ngModel)]="selfvisitorInfo.visitStatusID"
                    optionLabel="key" optionValue="value" class="" #visitStatusID="ngModel"
                    [ngClass]="{'is-invalid': visitStatusID.invalid && (visitStatusID.dirty || visitStatusID.touched)}"
                    name="visitStatusID" id="visitStatusID">
                  </p-dropdown>
                </div>
              </div> -->
              <div class="form-group row ">
                <div class="col-lg-9" style="padding-left:0px !important">
                  <app-search-autocomplete (onSearchEvent)="onGetEmployeeDetail($event)" ></app-search-autocomplete>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-3">
                  <label class="labelfont">Employee Name </label>
                  <input pinput [(ngModel)]="selfvisitorInfo.employeeName" class="form-control" type="text"
                    autocomplete="off"  name="employeeName" id="employeeName" #employeeName="ngModel"
                    [ngClass]="{'is-invalid': employeeName.invalid && (employeeName.dirty || employeeName.touched)}">
                </div>
                <div class="col-lg-3">
                  <label class="labelfont">Employee Department</label>
                  <input pinput [(ngModel)]="selfvisitorInfo.employeeDepartment" class="form-control"  type="text"
                    autocomplete="off"  name="employeeDepartment" id="employeeDepartment" #employeeDepartment="ngModel"
                    [ngClass]="{'is-invalid': employeeDepartment.invalid && (employeeDepartment.dirty || employeeDepartment.touched)}">
                </div>
                <div class="col-lg-3">
                  <label class="labelfont">Employee Designation</label>
                  <input pinput [(ngModel)]="selfvisitorInfo.employeeDesignation" class="form-control"  type="text"
                    autocomplete="off"  name="employeeDesignation" id="employeeDesignation" #employeeDesignation="ngModel"
                    [ngClass]="{'is-invalid': employeeDesignation.invalid && (employeeDesignation.dirty || employeeDesignation.touched)}">
                </div>
              </div>
              <div class="float-right">
                <p-button icon="pi pi-check" type="submit" label="Save" Class="p-button-text p-button-sm p-button-success"
                   ></p-button><span class=" p-mr-btn"></span>
                  <p-button icon="pi pi-times" class="p-button-sm " #closebutton data-dismiss="modal" label="Cancel"
            (click)="cancelRequest()" styleClass="p-button-secondary"></p-button>
              </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      </div>
      </div>
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto" style="float: right;">
            <span>
              Copyright@StarLink
            </span>
          </div>
        </div>
      </footer>
      