.p-button.p-button-link:enabled:focus {
    box-shadow:none !important
}
.p-button.p-button-link{
    font-size: 11px !important;
    font-weight: bold !important;
}
:host ::ng-deep .p-fileupload-files {
    display: none !important;
}
:host ::ng-deep .p-fileupload-content {
    display: none !important;
}
.card {
    line-height: 1.8 !important;
}
.tableFixHead {
    overflow-y: auto;
    height: 50vh!important;
    overflow-x: auto;
    
  }
  .tableFixHead thead th {
    position: sticky;
    top: 0;
    padding: 8px 16px;
    border: 1px solid #ccc;
    font-size: 11px;
    line-height: 1.1;
  }
  .fileTitle{
    margin: 2px 2px 2px 11px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    padding: 8px 16px;
    border: 1px solid #ccc;
    padding: 8px 16px;
    border: 1px solid #ccc;
    font-size: 11px;
    line-height: 1.1;
  }
  th {
    background: #eee;
  }
