@import "primeicons/primeicons.css";


*{
    padding:0;
    margin:-3px;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
    }
  .navbar{
    top: 0;
    left: 0;
    width: 113%;
    height: 100%;
    height: 50px;
    z-index: 99;
  }
  
   ul{
  list-style-type:none;
  }
  
   ul li{
  float:left;
  width:120px;
  font-size:15px;
  line-height:50px;
  text-align:left;
  margin-left: 10px;
  position:relative;
  }
  .sub-menu li 
  {
   //width: 190px;
   width: 225px;
   padding-bottom: -20px;
  }
  
  
   ul li a{
  text-decoration:none;
  color:#fff;
  display:block;
  width: auto;
  }
  .navbar ul ul{
  background: linear-gradient(145deg, #4772d9, #5be0e0);
  border-top: 2px solid #fff;
  position:absolute;
  display:none;
  }
  .navbar ul ul ul{
 
  left: 100%;
  top: -2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .navbar ul li:hover >ul{
  display:block;
  margin-top: 3px;
  border-top: 3px solid aqua;
  border-bottom: 3px solid aqua;
  background: linear-gradient(145deg, #4772d9, #5be0e0);
  }

  
  