// .sidebar .nav-item .nav-link i {
//     // font-size: 0.7rem !important;
//     margin-right: 1.25rem !important;
// }
// .navbar-nav .sidebar .nav-item .nav-link i {
//     font-size: 0.7rem !important;
//     margin-right: 1.25rem !important;
//     margin-left: 1.25rem!important;
// }
// .sidebar{
//     min-height: 1vh !important;
// }
// .pi-size-icon{
//     font-size: 1.5rem !important;
//     color: #fff !important;
// }
// .p-slidemenu-backward{
//     position: inherit !important;
//     top:1px !important;
// }
.sidebar-body-menu li a{
color:white;
text-decoration: none;
}

.noChild{
    margin-left: 19px!important;
}