<form #coffProcessSingleForm ="ngForm" name="form" (submit)="saveCoffProcess()">
        <hr>
        <div class="form-group row">
        <div class="col-md-4">
        <h4>{{HeaderName}}</h4>
        </div>
        </div>

        <div class="form-group row">
        <div class="col-md-4">
        <label class="labelfont">From Date </label>
        <input pinput class="form-control" type="text" [(ngModel)]="coffProcessInfo.fromDate" autocomplete="off" name="fromDate"
        id="fromDate" [bsConfig]="datepickerConfig"  [required]="true" placeholder="DD-MM-YYYY" autocomplete="off" bsDatepicker #fromDate="ngModel"
        [ngClass]="{'is-invalid': fromDate.invalid && (fromDate.dirty || fromDate.touched)}">
        <div *ngIf="fromDate.invalid && (fromDate.dirty || fromDate.touched)" class="labelfont">
            <div class="p-error" *ngIf="fromDate.errors?.['required']">
             From Date is required.
            </div>
            </div>
        </div>

        <div class="col-md-4">
        <label class="labelfont">To Date </label>
        <input pinput class="form-control" type="text" [(ngModel)]="coffProcessInfo.toDate" autocomplete="off" name="toDate" 
        id="toDate" [bsConfig]="datepickerConfig" [required]="true" placeholder="DD-MM-YYYY" autocomplete="off" bsDatepicker  #toDate="ngModel"
        [ngClass]="{'is-invalid': toDate.invalid && (toDate.dirty || toDate.touched)}">
        <div *ngIf="toDate.invalid && (toDate.dirty || toDate.touched)" class="labelfont">
            <div class="p-error" *ngIf="toDate.errors?.['required']">
              To Date is required.
            </div>
            </div>
       </div>

        <div class="col-md-4">
        <label class="labelfont"></label>
        <br>
        <p-button  type="submit" label="Coff Process" [disabled]="!coffProcessSingleForm.valid" Class="p-button-text p-button-sm p-button-success" styleClass="p-mr-btn"></p-button>
        </div>
        </div>
</form>

<form>
        <div class="form-group row">
        <div class="col-md-4">
        <label class="labelfont">From Date </label>
        <input pinput class="form-control" type="text" [(ngModel)]="coffProcessInfos.fromDate" autocomplete="off" name="fromDate"
        id="fromDate" [bsConfig]="datepickerConfig" placeholder="DD-MM-YYYY" autocomplete="off" bsDatepicker>
        </div>

        <div class="col-md-4">
        <label class="labelfont">To Date </label>
        <input pinput class="form-control" type="text" [(ngModel)]="coffProcessInfos.toDate" autocomplete="off" name="toDate" 
        id="toDate" [bsConfig]="datepickerConfig" placeholder="DD-MM-YYYY" autocomplete="off" bsDatepicker>
        </div>

        <div class="col-md-4">
        <label class="labelfont"></label>
        <br>
        <p-button  type="button" (click)="getCoffProcessData($event)"   label="Get Data" Class="p-button-text p-button-sm p-button-success" styleClass="p-mr-btn"></p-button>
        <p-button icon="pi pi-times" class="p-button-sm "  label="Cancel" styleClass="p-button-secondary" (click)="coffPorcessCancel()"></p-button> 
        </div>
        </div>
  
        <div class="form-group row">
        <div class="col-lg-12">
        <app-grid-renderer
        [gridRowData]="rowData"
        [gridColData]="columnDefs"
        (onCellClickEvent)="onCellClicked($event)">
        </app-grid-renderer>
        </div>
        </div>
</form>