<form #chnagePassword="ngForm" name="form"  (submit)="SavechangePassword()">
            <div class="form-group p-field">
                <label class="labelfont">New Password<span class="text-danger">*</span></label>
                <input pInputText [(ngModel)]="changePasswordInfo.newPassword" class="form-control shadow-none" type="text"
                    required #newPassword="ngModel" autocomplete="off" 
                    [ngClass]="{'is-invalid': newPassword.invalid && (newPassword.dirty || newPassword.touched)}" name="newPassword"
                    id="newPassword">
                    <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
                    class="labelfont">
                    <div  class="p-error" *ngIf="newPassword.errors?.['required']">
                      New Password is required.
                    </div>
            </div>
            </div>
            <div class="float-right">
            <p-button icon="pi pi-check" type="submit"  label="Change Password" [disabled]="!chnagePassword.valid"  Class="p-button-text p-button-sm p-button-primary"></p-button>
            <p-button icon="pi pi-times" class="p-button-sm "data-dismiss="modal" (click)="CancelChangePassword();" label="Cancel" styleClass="p-button-secondary"></p-button>
            </div>
</form>

