<section class="card">
    <div id="card-header-inner">
     <p class="alignleft">Canteen Policy</p>
     <p class="alignright">
      <button pButton pRipple type="button" *ngIf="rowData.length > 0" icon="pi pi-file-excel" (click)="exportGridData()" class="p-button-rounded p-button-secondary"></button>
     <button pButton pRipple type="button" (click)="AddNew()" icon="pi pi-plus" class="p-button-rounded p-button-success"></button>
     </p>
     <div style="clear: both;"></div>
     </div>
     <div class="card-body" *ngIf="rowData.length > 0">
     <app-canteen-grid-rendere  [gridRowData]="rowData" [gridColData]="columnDefs"  (onCellClickEvent)="onCellClicked($event)" ></app-canteen-grid-rendere>
     </div>
</section>

<!-- Add Canteen Policy -->


<p-dialog [header]="headerdialogName" [(visible)]="isAddNewPolicy" [modal]="true" 
[draggable]="false" [resizable]="false" [transitionOptions]="'0ms'"position="top-right" [style]="{width: '90vw',height:'50vw'}" >
     <form #canteenPolicy="ngForm" name="form" (submit)="saveCanteenPolicys(canteenPolicy)">
     <div class="form-group row col-lg-12">
       <div class="col-lg-4">
       <label class="labelfont">Name</label>
       <input type="text" pinput class="form-control" [(ngModel)]="canteenPolicyModelInfo.policyName" #policyName="ngModel" name="policyName" id="policyName">
       </div>
       <div class="col-lg-4">
       <label class="labelfont">Description</label>
       <input type="text" pinput class="form-control" [(ngModel)]="canteenPolicyModelInfo.description" #description="ngModel" name="description" id="description">
       </div>
       <div class="col-lg-4">
         <label class="labelfont">Policy Based On</label>
         <p-dropdown [options]="policyBasedONList" [(ngModel)]="PolicyBasedOn" #policyBasedOn="ngModel" name="policyBasedOn" id="policyBasedOn" optionLabel="key" optionValue="value"></p-dropdown>
       </div>
     </div>

     <div class="form-group row float-right">
         <p-button icon="pi pi-check" type="submit" [label]="labelName" Class="p-button-text p-button-sm p-button-success" styleClass="mr1"></p-button>
         <p-button icon="pi pi-times" class="p-button-sm " #closebutton data-dismiss="modal" label="Cancel"
         (click)="cancelcanteenPolicy()" styleClass="p-button-secondary"></p-button>
     </div>

       <div class="form-group row col-lg-12">
          <p-table [value]="canteenrowData" dataKey="itemID"  [(selection)]="selectedItemMaster">
              <ng-template pTemplate="header">
                  <tr>
                   <th> <p-tableHeaderCheckbox></p-tableHeaderCheckbox> </th>
                    <th>Code</th>
                    <th>Item Name</th>
                    <th>ItemType</th>
                    <th>Description</th>
                    <th>StartTime</th>
                    <th>EndTime</th>
                    <th>ItemRate</th>
                    <th>ItemRateAfterSubsidy</th>
                    <th>EmployeeContribution</th>
                    <th>EmployerContribution</th>
                    <th>SubsidizedQuantity</th>
                  </tr>
              </ng-template>

              <ng-template pTemplate="body" let-mapping>
                  <tr>
                   <td pEditableColumn>
                     <p-tableCheckbox [value]="mapping"  ></p-tableCheckbox>
                    </td>
                      <td pEditableColumn>
                       {{mapping.itemCode}}
                      </td>
                      <td pEditableColumn>
                       <input pinput [(ngModel)]="mapping.itemName" class="form-control p-inputtext" type="text" name="itemName"
                       id="itemName" #payAmount="ngModel" [ngModelOptions]="{standalone: true}" style="width: 100px;"> 
                
                      </td>

                      <td pEditableColumn>
                       {{mapping.itemType}}
                      </td>

                      <td pEditableColumn>
                       <input pinput [(ngModel)]="mapping.description" class="form-control p-inputtext" type="text" name="description"
                       id="description" #description="ngModel" [ngModelOptions]="{standalone: true}"> 
                      </td>

                      <td pEditableColumn>
                       {{mapping.startTime}}
                      </td>

                      <td pEditableColumn>
                       {{mapping.endTime}}
                     </td>

                     
                     <td pEditableColumn>
                       <input pinput [(ngModel)]="mapping.itemRate" class="form-control p-inputtext" type="text" name="itemRate"
                        id="itemRate" #itemRate="ngModel" [ngModelOptions]="{standalone: true}"> 
                       </td>

                      <td pEditableColumn>
                       <input pinput [(ngModel)]="mapping.itemRateAfterSubsidy" class="form-control p-inputtext" type="text" name="itemRateAfterSubsidy"
                       id="itemRateAfterSubsidy" #itemRateAfterSubsidy="ngModel" [ngModelOptions]="{standalone: true}"> 
                      </td>

                      <td pEditableColumn>
                      <input pinput [(ngModel)]="mapping.employeeContribution" class="form-control p-inputtext" type="text" name="employeeContribution"
                      id="employeeContribution" #employeeContribution="ngModel" [ngModelOptions]="{standalone: true}"> 
                      </td>

                      <td pEditableColumn>
                       <input pinput [(ngModel)]="mapping.employerContribution" class="form-control p-inputtext" type="text" name="employerContribution"
                       id="employerContribution" #employerContribution="ngModel" [ngModelOptions]="{standalone: true}"> 
                      </td>

                      <td pEditableColumn>
                       <input pinput [(ngModel)]="mapping.subsidizedQuantity" class="form-control p-inputtext" type="text" name="subsidizedQuantity"
                       id="subsidizedQuantity" #subsidizedQuantity="ngModel" [ngModelOptions]="{standalone: true}"> 
                      </td>
                   </tr>
              </ng-template>
           </p-table>
     </div> 
 </form>
 </p-dialog>

       

<!-- End -->

<!-- Organization Mapping -->
<p-dialog header="Organization Mapping" (onHide)="CancelOrgnaizationMapping()" [responsive]="true" appendTo="body" [(visible)]="displayOUMap" [modal]="true"
[draggable]="false" [resizable]="true" [transitionOptions]="'0ms'"position="top-right" [style]="{width: '50vw',height:'38vw'}" >
<div class="form-group row">
 <div class="col-lg-6">
  
   <label class="labelfont">Organization</label>
   <p-dropdown [options]="orgUnitList" appendTo="body" [(ngModel)]="orgnaizationMappingInfo.organizationKeyID" optionLabel="key"
     optionValue="value" class="" #organizationKeyID="ngModel" name="organizationKeyID" id="organizationKeyID"
     (ngModelChange)="prepareOrgListByOU(orgnaizationMappingInfo.organizationKeyID)">
   </p-dropdown>
 </div>
 <div class="col-lg-6">
   <label class="labelfont"><br/></label><br/>
   <p-multiSelect [options]="orgDataUnitList" appendTo="body" placeholder="Please Select" [(ngModel)]="selectedOrganiztion" name="organization" optionLabel="key" optionValue="value"></p-multiSelect>
 </div>
</div>
<div class="form-group row">
 <div class="col-lg-6">
   <label class="labelfont">Location</label>
   <p-dropdown [options]="locationList" [(ngModel)]="orgnaizationMappingInfo.locationKeyID" optionLabel="key"
     optionValue="value" class="" appendTo="body" #locationKeyID="ngModel" name="locationKeyID" id="locationKeyID"
     (ngModelChange)="preparelocationDataByOU(orgnaizationMappingInfo.locationKeyID)">
   </p-dropdown>
 </div>
 <div class="col-lg-6">
   <label class="labelfont"><br/></label><br/>
   <p-multiSelect [options]="LocationDataList" appendTo="body" placeholder="Please Select" [(ngModel)]="selectedLocation" name="location" optionLabel="key" optionValue="value"></p-multiSelect>
 </div>
</div>
<div class="float-right">
   <p-button icon="pi pi-check" label="Save"  Class="p-button-text p-button-sm p-button-success " styleClass="mr1" (click)="SaveOrgnaizationMapping()"></p-button>
 <p-button icon="pi pi-times" class="p-button-sm "  #closebutton data-dismiss="modal" label="Cancel"  (click)="CancelOrgnaizationMapping()" styleClass="p-button-secondary"></p-button>

</div>
</p-dialog>


<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [style]="{width: '40vw'}" [baseZIndex]="10000"
rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
<!-- End -->

