<div class="card">
    <form #gatePassForm = "ngForm" name="form" (submit)="SavePunchReqData()">
      <div class="form-group row">
          <div class="col-lg-4">
              <label class="labelfont">Date <span class="text-danger">*</span></label>
              <input pinput [(ngModel)]="pregDate" class="form-control" type="text" autocomplete="off"
                    name="pregDate" id="pregDate" (ngModelChange)="getpunchDate($event)"
                    [bsConfig]="datepickerConfig" placeholder="DD-MMM-YYYY" autocomplete="off" bsDatepicker
                    style="margin-left: -11px;" (ngModelChange)="getCorrectDate()" [readonly]="disabledTxt">
          </div>
          <div class="col-md-4">
            <label class="labelfont">Request Type<span class="text-danger">*</span></label>
            <p-dropdown [options]="requestTypeOption" [(ngModel)]="punchRegularizationInfo.requestType" optionLabel="key" optionValue="value"
               #requestType="ngModel"  [required]="true" [disabled]="disabledTxt"
              [ngClass]="{'is-invalid': requestType.invalid && (requestType.dirty || requestType.touched)}" name="requestType" id="requestType"></p-dropdown>
              <div *ngIf="requestType.invalid && (requestType.dirty || requestType.touched)" class="labelfont">
                <div class="p-error" *ngIf="requestType.errors?.['required']">
                    Punch Type is required.
                </div>
              </div>
         </div>
         <div class="col-md-4">
          <label class="labelfont">Punch Type<span class="text-danger">*</span></label>
          <p-dropdown [options]="punchTypeOption" [(ngModel)]="punchRegularizationInfo.punchType" optionLabel="key" optionValue="value"
             #punchType="ngModel"  [required]="true" [disabled]="disabledTxt"
            [ngClass]="{'is-invalid': punchType.invalid && (punchType.dirty || punchType.touched)}" name="punchType" id="punchType"></p-dropdown>
            <div *ngIf="punchType.invalid && (punchType.dirty || punchType.touched)" class="labelfont">
              <div class="p-error" *ngIf="punchType.errors?.['required']">
                  Punch Type is required.
              </div>
            </div>
       </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6" *ngIf="punchRegularizationInfo.requestType=== 'I' || punchRegularizationInfo.requestType==='B'">
                <label class="labelfont">In Time <span class="text-danger">*</span></label>
                  <br />
                  <div class="col-md-4" style="float: left !important;">
                    <input pinput [(ngModel)]="inDate" appendTo="" class="form-control" type="text" autocomplete="off"
                      name="inDate" id="inDate" 
                      [bsConfig]="datepickerConfig" placeholder="DD-MMM-YYYY" autocomplete="off" bsDatepicker
                      style="margin-left: -11px;" [readonly]="disabledTxt">
                  </div>
        
                  <div class="col-md-3" style="float: left !important;">
                    <input [(ngModel)]="inTime" name="inTimes" autocomplete="off" append="" class="form-control"
                      [popover]="popstartTimeTemplate" [outsideClick]="true" [readonly]="disabledTxt" placement="bottom" placeholder="HH:MM" />
                    <ng-template #popstartTimeTemplate>
                      <timepicker [(ngModel)]="inTime" name="inTime" [showMeridian]="false"
                      (ngModelChange)="getinDateTime($event)" [disabled]="disabledTxt"></timepicker>
                    </ng-template>
                  </div>
                  <input pinput [(ngModel)]="punchRegularizationInfo.inTime" class="form-control" type="text" autocomplete="off"
                    name="startTime" hidden="true" id="startTime" #startTime="ngModel" [readonly]="disabledTxt">
                
            </div>
            
            <div class="col-md-6" *ngIf="punchRegularizationInfo.requestType=== 'O' || punchRegularizationInfo.requestType==='B'">
                <label class="labelfont">Out Time <span class="text-danger">*</span></label>
                  <br />
                  <div class="col-md-4" style="float: left !important;">
                    <input pinput [(ngModel)]="outDate"  appendTo=""class="form-control" type="text" autocomplete="off"
                      name="outDate" id="outDate"  [readonly]="disabledTxt"
                      [bsConfig]="datepickerConfig" placeholder="DD-MMM-YYYY" autocomplete="off" bsDatepicker
                      style="margin-left: -11px;">
                  </div>
        
                  <div class="col-md-3" style="float: left !important;">
                    <input [(ngModel)]="outTime" name="outTimes" autocomplete="off" append="" class="form-control"
                      [popover]="popoutTimeTemplate" [readonly]="disabledTxt" [outsideClick]="true" placement="bottom" placeholder="HH:MM" />
                    <ng-template #popoutTimeTemplate>
                      <timepicker [(ngModel)]="outTime" name="outTime" [showMeridian]="false"
                        (ngModelChange)="getoutDateTime($event)" [disabled]="disabledTxt"></timepicker>
                    </ng-template>
                  </div>
                  <input pinput [(ngModel)]="punchRegularizationInfo.outTime" class="form-control" type="text" autocomplete="off"
                    name="endTime" hidden="true" id="endTime" #endTime="ngModel" [readonly]="disabledTxt">
                
            </div>
        </div>
        <div class="form-group row">  
           
            <div class="col-md-9">
              <label class="labelfont">Remark <span class="text-danger">*</span></label>
              <input pinput [(ngModel)]="punchRegularizationInfo.requestRemark" class="form-control" type="text"
                 name="requestRemark" id="requestRemark"
                 #requestRemark="ngModel" required="true" [readonly]="disabledTxt"
                [ngClass]="{'is-invalid': requestRemark.invalid && (requestRemark.dirty || requestRemark.touched)}">
                <div *ngIf="requestRemark.invalid && (requestRemark.dirty || requestRemark.touched)" class="labelfont">
                  <div class="p-error" *ngIf="requestRemark.errors?.['required']">
                      Remark is required.
                  </div>
                </div>
            </div>
        </div>
        <div class="float-right">
            <p-button  type="submit" *ngIf="PostButton"  label="Save" Class="p-button-text p-button-sm p-button-success" styleClass="p-mr-btn" [disabled]="!gatePassForm.valid"></p-button>
            <p-button  class="p-button-sm "  label="Cancel" styleClass="p-button-secondary" (click)="closePopups()"></p-button>   
        </div>
    </form>
  </div>
<div class="form-group row">
  <div class="col-lg-12">
    <p-table [columns]="leaveattendanceListcol" [value]="leaveattendanceListUI" [scrollable]="true" scrollHeight="200px">
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of columns">
                  {{col.header}}
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-attDetail let-columns="columns">
          <tr>
              <td *ngFor="let col of columns">
                  {{attDetail[col.field]}}
              </td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</div>