<section class="card">
    <header class="card-header">
        <div class="row">
            <div class="col-xl-10">
                <h2>Map Organization Unit for {{employee?.employeeName}}({{employee?.employeeCode}})</h2>
            </div>
            <div class="col-xl-2">
                <p-button label="Submit"  iconPos="right" class="p-button-sm" (click)="submitRequest();" ></p-button> &nbsp;&nbsp;
                <p-button label="Cancel"  iconPos="right" class="p-button-sm" styleClass="p-button-secondary"  (click)="goBack();"></p-button>
            </div>
        </div>
    </header>
    <div class="card-body">
        <div class="form-group row" *ngIf="employeeOUMapping!=null && employeeOUMapping.userOUMappings != null">
            <div class="col-lg-4" *ngFor="let ou of employeeOUMapping.userOUMappings;let i = index">
              <b> {{ou.organizationName}}    </b><br>
              <input type="checkbox" (change)="selectUnSelectAll($event.target, ou.organizationName)"/> 
              <label class="labelfont">&nbsp;{{bindLabel(employeeOUMapping.userOUMappings[i].mappedValues)}}</label>
                <div class="oubox">
                    <div   *ngFor="let option of employeeOUMapping.userOUMappings[i].mappedValues; let j =index;">
                       <input type="checkbox" [(ngModel)]="option.selected"  [checked]="option.selected"> {{option.organizationName}}
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div style="float:right">
            <br/>
           <p-button label="Submit"  iconPos="right" class="p-button-sm" (click)="submitRequest();" ></p-button> &nbsp;&nbsp;
           <p-button label="Cancel"  iconPos="right" class="p-button-sm" styleClass="p-button-secondary" (click)="goBack();"></p-button>
        </div>
    </div>
</section>
    